Destination2.WebUi.Search/Service References/ServiceFlights/FlightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55849/FlightService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55849/FlightService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55849/FlightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightService_StartSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSearch" />
  </wsdl:message>
  <wsdl:message name="IFlightService_StartSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetriveSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:RetriveSearch" />
  </wsdl:message>
  <wsdl:message name="IFlightService_RetriveSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetriveSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightService_PerformSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformSearch" />
  </wsdl:message>
  <wsdl:message name="IFlightService_PerformSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightService">
    <wsdl:operation name="StartSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightService/StartSearch" message="tns:IFlightService_StartSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightService/StartSearchResponse" message="tns:IFlightService_StartSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetriveSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightService/RetriveSearch" message="tns:IFlightService_RetriveSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightService/RetriveSearchResponse" message="tns:IFlightService_RetriveSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightService/PerformSearch" message="tns:IFlightService_PerformSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightService/PerformSearchResponse" message="tns:IFlightService_PerformSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlightService" type="tns:IFlightService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSearch">
      <soap:operation soapAction="http://tempuri.org/IFlightService/StartSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetriveSearch">
      <soap:operation soapAction="http://tempuri.org/IFlightService/RetriveSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformSearch">
      <soap:operation soapAction="http://tempuri.org/IFlightService/PerformSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightService">
    <wsdl:port name="BasicHttpBinding_IFlightService" binding="tns:BasicHttpBinding_IFlightService">
      <soap:address location="http://localhost:55849/FlightService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>