Destination2.WebUi.Search/Service References/ServiceFlights/FlightService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FlightSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="CabinClassID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartureAirportID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationAirportID" type="xs:int" />
      <xs:element minOccurs="0" name="DirectFlightsOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPackage" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfAdults" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfChildren" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfInfants" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightSearch" nillable="true" type="tns:FlightSearch" />
  <xs:complexType name="FlightSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightSearch" nillable="true" type="tns:FlightSearch" />
      <xs:element minOccurs="0" name="FlightSearchId" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightSearchResult" nillable="true" type="tns:FlightSearchResult" />
</xs:schema>