Destination2.WebUi.Search/Service References/ServiceFlights/FlightService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55849/FlightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" />
  <xs:element name="StartSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" minOccurs="0" name="flightSearch" nillable="true" type="q1:FlightSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" minOccurs="0" name="StartSearchResult" nillable="true" type="q2:FlightSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetriveSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" minOccurs="0" name="RetriveSearchResult" nillable="true" type="q3:FlightSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" minOccurs="0" name="flightSearch" nillable="true" type="q4:FlightSearch" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Destination2.Services.Flights.Entities" minOccurs="0" name="PerformSearchResult" nillable="true" type="q5:FlightSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>